.header{
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 100%), url('../img/1627092176_2-kartinkin-com-p-tekstura-zamka-krasivo-2.jpg') no-repeat center top / cover;
    height: 100%;
    padding: 0px 0px 0px 0px;
    font-size: 19px;
    position: relative;
}
html{
    height: 100%;
    overflow: scroll;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 100%), url('../img/1627092176_2-kartinkin-com-p-tekstura-zamka-krasivo-2.jpg') no-repeat fixed center/cover;
}
.familt-link{
    width: 460px;
}
.figure-two{
    left: 3%;
    top: 636px;
}
.massanger-box{
    margin-top: 44px;
}
@media (max-width:767px){

}
@media (max-width:575px){

}
@media (max-width:420px){
.familt-link{
    width: 248px;
}
.figure-two {
    top: 809px;
}
}
@media (max-width:350px){
    .familt-link{
        width: 187px;
    }
    .massanger-box{
        margin-top: 335px;
    }
    .img-block__father{
        height: 403px;
    }
}
